@{
    ViewData["Title"] = "Trang Chủ";
}

<div class="card shadow-sm">
    <div class="card-header">
        <h4 class="my-0 fw-normal">Xin chào!</h4>
    </div>
    <div class="card-body">
        <h1 class="card-title pricing-card-title">Chào mừng đến với Lab 1</h1>
        <p class="lead">Đây là giao diện mới với sidebar sử dụng Bootstrap 5.</p>
        <p>Sử dụng menu bên trái để điều hướng giữa các trang. Bạn có thể tìm hiểu thêm về <a
                href="https://learn.microsoft.com/aspnet/core">cách xây dựng ứng dụng web với ASP.NET Core</a>.</p>
        <a href="https://github.com/Phan-Thanh-Danh" class="btn btn-lg btn-outline-primary">Ghé thăm Github của tôi</a>
    </div>
</div>
